
a {
	color: rgb(255, 255, 255);
	display: block;
	position: relative;
	text-decoration: none;
	transition: .2s all;
	vertical-align: middle;
}

header {
	background: rgb(0, 150, 250);
	left: 0;
	position: fixed;
	top: 0;
	z-index: 1;
}

header h1 {
	font-family: "ROCKET", sans-serif;
	letter-spacing: .25em;
	padding: .5em .75em;
	text-transform: uppercase;
}

#menu-open,
#menu-close {
	background: rgb(0, 150, 250);
	color: rgb(255, 255, 255);
	cursor: pointer;
	display: inline-block;
	font-size: 1.2em;
	padding: 1em;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 10;
}

#menu-content {
	background: rgb(0, 150, 250);
	bottom: 0;
	display: none;
	letter-spacing: 3px;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 10;
}

#menu-close {
	position: absolute;
}

ul {
	list-style-type: none;
	padding-top: 5em;
}

ul li a {
	padding: 1em 3em 1em 4em;
	text-transform: uppercase;
}

ul li a::before, a::after {
	background: rgb(0, 150, 250);
	content: '';
	bottom: 5px;
	position: absolute;
	top: 5px;
	transition: .2s all;
	width: 0;
}

ul li a::before { left: 5px; }
ul li a::after { right: 5px; }

ul li a:hover {
	background: rgb(255, 255, 255);
	color: rgb(0, 150, 250);
}

ul li a:hover:before,
ul li a:hover:after {
	width: .5em;
}

ul li a i {
	left: 1em;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
