<!--
Solid Gauge
-->
<figure class="highcharts-figure">
	<div id="container-co2" class="chart-container"></div>
	<p class="highcharts-description"> </p>
</figure>

<!--
ERIC MET LE NOM DE TON GRAPH ERIIIIIIIIIIC
-->
<figure class="highcharts-figure">
	<div id="container-particules" class="chart-container"></div>
	<p class="highcharts-description">Capteur de particules</p>
</figure>

<!--
Ozone graph
-->
<figure class="highcharts-figure">
	<div id="container-ozone" class="chart-container"></div>
	<p class="highcharts-description">Capteur d'ozone</p>
</figure>

<!--
 END
 -->
