#map {
	background: rgb(238, 238, 238);
	height: 100%;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	z-index: 0;
}

aside {
	background: rgb(255, 255, 255);
	border-radius: 1em;
	box-shadow: 0 0 10px rgba(50, 50, 50, .5);
	display: none;
	left: 50%;
	margin: 5em 0 0 0;
	padding: 1em;
	position: absolute;
	transform: translateX(-50%);
	z-index: 1;
}
