/* You can add global styles to this file, and also import other style files */

* {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	width: 100%;
}

body {
	font-family: "Lato", Ubuntu, Roboto, "Helvetica Neue", sans-serif;
	margin: 0;
}

#map {
	background: rgb(238, 238, 238);
	height: 100vh;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100vw;
}
