/**
 * Project  : Capteur ACMP
 * Date     : 25/05/2020
 * Autor    : CARDINAL Florian
 * Nom      : main.css
 * Location : /assets/styles/
 */

* {
	font-family: "Lato", Ubuntu, Roboto, "Helvetica Neue", sans-serif;
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	width: 100%;
}

body {
	font-family: "Lato";
	margin: 0;
}

#splash {
	background: rgb(220, 220, 220);
	display: block;
	height: 100%;
	position: fixed;
	width: 100%;
	z-index: 100;
}

#splash h1 {
	animation: 3s linear 1s infinite alternate splash;
	color: rgb(50, 50, 50);
	font-family: "ROCKET";
	font-size: 7.5em;
	left: 50%;
	letter-spacing: .1em;
	position: absolute;
	text-shadow: 0 0 20px currentColor,
		0 0 40px currentColor,
		0 0 60px currentColor;
	top: 50%;
	transform: translate(-50%, -50%);
}

/**
 * END
 */
