<header>
	<a class="menu-interact-map" [routerLink]="['/']">
		<h1 class="titl"><i class="material-icons">wifi</i>acmp</h1>
	</a>
</header>

<div id="menu-open">
	<i class="material-icons">menu</i>
</div>

<nav id="menu-content">
	<div id="menu-close">
		<i class="material-icons">close</i>
	</div>

	<ul class="menu-content">
		<li>
			<a class="button fancy-button menu-interact-map" [routerLink]="['/']">
				<i class="material-icons">map</i> map
			</a>
		</li>
		<li>
			<a class="button fancy-button menu-interact-telemetry" [routerLink]="['/telemetry']">
				<i class="material-icons">timeline</i> télémetrie
			</a>
		</li>
		<li>
			<a class="button fancy-button menu-interact-aside" [routerLink]="['/about']">
				<i class="material-icons">info</i> à propos
			</a>
		</li>
		<hr />
		<li>
			<a class="button fancy-button menu-interact-aside" [routerLink]="['/login']">
				<i class="material-icons">perm_identity</i> connexion
			</a>
		</li>
	</ul>
</nav>
